<div class="container">
   <div class="row justify-content-center" style="margin-top: 10vh">
      <div class="col-lg-12">
         <div class="card">
            <div class="card-body">
            <h1 class="mb-3">Contact Admin</h1>
               <%= render 'form', contact: @contact %>
            </div>
         </div>
      </div>
   </div>
</div>
